@{
    ViewData["Title"] = "Help";
    Layout = "_HelpLayout";
}

<!-- Your content goes here, you may add additional logic based on your requirements -->

<!-- 
<h1>Help Page</h1>

<div class="row">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/">Tutorial</a>
        </li>
    </ul>
</div>

<br />-->

<div>
    @Html.Partial("~/Areas/Help/Views/Tutorial/Page1.cshtml")
</div>