@{
    ViewData["Title"] = "About Me";
}

<div class="text-start">
    <h1 class="display-3 mb-2"><strong>About Me</strong></h1>
    <table class="table">
        <tbody>
            <tr>
                <td scope="row">Name</td>
                <td>Miranda Clark</td>
            </tr>
            <tr>
                <td scope="row">School</td>
                <td>Capitol Technology University</td>
            </tr>
            <tr>
                <td scope="row">Major</td>
                <td>Computer Science</td>
            </tr>
        </tbody>
    </table>
</div>
