@{
    ViewData["Title"] = "Contact Me";
}

<div class="text-start">
    <h1 class="display-3 mb-2"><strong>Contact Me</strong></h1>
    <table class="table">
        <tbody>
            <tr>
                <td scope="row">Phone</td>
                <td>555-123-4567</td>
            </tr>
            <tr>
                <td scope="row">Email</td>
                <td>me@MyWebsite.com</td>
            </tr>
            <tr>
                <td scope="row">Facebook</td>
                <td>facebook.com/mywebsite</td>
            </tr>
        </tbody>
    </table>
</div>
