@{
    ViewBag.Title = "Tutorial - Page 3";
}

<h1>Help Page</h1>

<br />

<div class="row">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/">Tutorial</a>
        </li>
    </ul>
</div>

<br />

<div>
    <h1 class="display-4"><strong>Tutorial - Page 3</strong></h1>
    <p>Heres the third thing you need to know about my website</p>
</div>

<button class="btn btn-dark"  id="backButton" onclick="window.location.href='/Help/Tutorial/Page2'">Back</button>
